<XML>
	<GameServer>
		<Plugin Name="NFNetPlugin" />
		<Plugin Name="NFKernelPlugin" />
		<Plugin Name="NFConfigPlugin" />
		<Plugin Name="NFActorPlugin" />				
		<Plugin Name="NFMysqlPlugin" />		
		<Plugin Name="LJGameLogicPlugin" />
		<Plugin Name="NFLogPlugin" />
    	<ConfigPath Name="../" />
		<Config Name="IP" Value="127.0.0.1"/>
		<Config Name="Port" Value="9991"/>
		<Config Name="MaxConnect" Value="64"/>
		
	</GameServer>

	<LoginServer>
		<Plugin Name="NFNetPlugin" />
		<Plugin Name="NFKernelPlugin" />
		<Plugin Name="NFConfigPlugin" />
			
		<Plugin Name="NFActorPlugin" />			
		<Plugin Name="NFNoSqlPlugin" />
		<Plugin Name="NFDataAgent_NosqlPlugin" />	
		
		<Plugin Name="NFLoginNet_ServerPlugin" />
		<Plugin Name="NFLoginNet_ClientPlugin" />
		
		<Plugin Name="NFLoginLogicPlugin" />
		<Plugin Name="NFLogPlugin" />
    	<ConfigPath Name="../" />		
	</LoginServer>

	<MasterServer>
		<Plugin Name="NFNetPlugin" />
		<Plugin Name="NFKernelPlugin" />
		<Plugin Name="NFConfigPlugin" />
		<Plugin Name="NFMasterServerPlugin" />
		<Plugin Name="NFMasterNet_ServerPlugin" />
		<Plugin Name="NFMasterNet_HttpServerPlugin" />
		<Plugin Name="NFLogPlugin" />
    	<ConfigPath Name="../" />		
	</MasterServer>

	<ProxyServer>
		<Plugin Name="NFNetPlugin" />
		<Plugin Name="NFKernelPlugin" />
		<Plugin Name="NFConfigPlugin" />
		<Plugin Name="NFProxyLogicPlugin" />
		<Plugin Name="NFProxyServerNet_ClientPlugin" />
		<Plugin Name="NFProxyServerNet_ServerPlugin" />
		<Plugin Name="NFLogPlugin" />
    	<ConfigPath Name="../" />	
		<Config Name="DbIp" Value="127.0.01" />
	</ProxyServer>

	<WorldServer>
		<Plugin Name="NFNetPlugin" />
		<Plugin Name="NFKernelPlugin" />
		<Plugin Name="NFConfigPlugin" />
		<Plugin Name="NFWorldNet_ClientPlugin" />
		<Plugin Name="NFWorldNet_ServerPlugin" />
		<Plugin Name="NFLogPlugin" />	
    	<ConfigPath Name="../" />		
	</WorldServer>
	
	<TutorialServer>
		<Plugin Name="NFKernelPlugin" />
		<Plugin Name="NFConfigPlugin" />
		<Plugin Name="NFCoroutinePlugin" />
		
		<Plugin Name="NFLogPlugin" />
		<Plugin Name="NFActorPlugin" />
		<Plugin Name="Tutorial5" />
    	<ConfigPath Name="../" />		
	</TutorialServer>
</XML>